body {
	background-color:#cccccc;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.uncab {
	background-color: pink;
	color: darkmagenta;
	display: flex;
	height: 5%;
	width: auto;
	margin: 0;
	padding: 3% 3%;
	text-align: center;
	justify-content: center;
}

.cabezera{
	background-color: darkcyan;
	color: #ffffff;
	display: flex;
	height: 10%;
	width: auto;
	margin: 0;
	padding: 5% 5%;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}
.cabezera a.ultimo{
	text-decoration: underline;
}

div.enlaces {
	background-color: blue;
	display: flex;
	justify-content: start;
	align-content: start;
}

div.enlaces a{
	display: flex;
	color: white;
	padding: 1% 2%;
	justify-content: start;
	text-decoration: none;
}

div.enlaces a:hover {
	background-color: gray;
	color: black;
}

.bloque{
	display: flex;
	flex-direction: row;
}

.bloque h3 {
	color: darkred;
}

.bloque p {
	color: brown;
}

.contenido	{
	background-color: lightyellow;
	display: flex;
	padding: 0;
	margin: 0;
	flex-direction: column;
	justify-content: start;
	width: 500%;
	padding: 2% 2%;
	text-align: justify;
}

.imgtexto {
	display: flex;
	height: 22%;
	width: auto;
	padding: 1% 1%;
}

.imgtexto img {
	display: flex;
	height: 100px;
	width: auto;
	flex-direction: row;
}

.imgtexto p {
	display: flex;
	margin: 0% 1%;
	text-align: left;
	text-align: justify;
}

.sidebar {
	padding: 2% 2%;
	background-color: burlywood;
}


.alumno {
	display: flex;
	align-items: end;
	margin: 0;
	padding: 0;
}

.datos{
	display: flex;
	flex-direction: column;
	justify-content: start;
	text-align: justify;
}

.foto img{
	display: flex;
	height: 100px;
	width: auto;
	flex-direction: row;
}

.foto p {
	align-items: start;
	text-align: right;
}


.pie {
	background-color: darkcyan;
	color: #ffffff;
	display: flex;
	height: 10%;
	width: auto;
	margin: 0;
	padding: 3% 1%;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

@media (max-width: 600px){
	div.enlaces {
		flex-direction: column;
		padding:0;
		justify-content: center;
		align-items: center;
	}
	.bloque {
		flex-direction: column;
	}
	.bloque {
}